.done-true {
    text-decoration: line-through;
    color: grey;
  }
header
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.088), rgba(0, 0, 0, 0.7)), url(css/img/header3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container
{
    background-color: rgba(35, 24, 24, 0.489);
   width: 30%;
   padding: 50px ;
   color: aliceblue;
   
    
}

h2,h4,h5{
    text-align: center;
}
.list
{
    font-size: larger;
}
.heading 
{
    margin-bottom: 40px;
}
.btn
{
    margin-top: 20px;
    padding: 5px 20px;
    font-size: smaller;
    border-radius: solid 40% #fff ;
}

form{
    text-align: center;
}

.addbox
{
    width: 100%;
}

footer
{
    background-color: #333;
    text-align: center;
    color: antiquewhite;
}